* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.title {
    margin: 0 0 1rem 1;
}

#canvas {
    border-radius: 3px;
}

.canvas_container {
    flex: 1;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.buttons button {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    border: 2px solid #2d2d2d;
}

.buttons button:hover {
    background-color: #f0f0f0;
}